<% content_for :active_page do %>logs<% end %>

<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Task execution id</th>
        <th>Task name</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @executions.each do |exec| %>
        <%
            status = 'danger' if exec.status.casecmp('Failed').zero?
            status = 'success' if exec.status.casecmp('Success').zero?
            status = 'info' if exec.status.casecmp('Started').zero?
        %>
        <tr class="<%=status%>">
          <td><%=exec.id%></td>
          <td><%=exec.task.name%></td>
          <td><%=exec.start.strftime("%F %T")%></td>
          <td><%=exec.end.strftime("%FT%T") unless exec.end.nil? %></td>
          <td><%=exec.status%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
