<% content_for :active_page do %>about<% end %>
<div class="container about">
  <h1>Task Scheduler</h1>

  <h2>About</h2>
  <hr />
  <p>This is a solution to trigger tasks around distributed computers, here on this <b>website</b> you can register <%= link_to 'new tasks', new_task_path %> and monitor the execution of them <%= link_to 'here', :controller => :task_execution %>.</p>

  <h2>How to: </h2>
  <hr />
  <h3>Download the agent</h3>
  <ul>
    <li>You can <b>download</b> the client agent clicking <%= link_to 'here', 'https://github.com/lgsanjos/taskscheduler/blob/master/agent.rb'%> or on the root path of this server.</li>
  </ul>
  <h3>Install and run</h3>
  <ul>
    <li>Copy the agent.rb file to computer which will run the job</li>
    <li>Make sure the client have have <b>Ruby installed</b></li>
    <li>Run on terminal '<b>ruby agent.rb</b>'</li>
  </ul>
  <h3>Register a new task</h3>
  <ul>
    <li>Once you run the agent it will print on console a unique key</li>
    <li>Go to <%= link_to 'new task page', new_task_path %></li>
    <li>Fill the <b>key field</b> with the client key</li>
    <li>Fill the <b>start</b>, <b>end date</b> and the <b>days of week</b> that the job should execute</li>
    <li>On <b>path field</b> add the path of the script to be executed or a command line</li>
  </ul>
  <h3>Wait and see</h3>
  <ul>
    <li>Here on <%= link_to 'log page', :controller => :task_execution %> you can see the jobs status</li>
  </ul>
</div>
